@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply w-full h-full;
    }
    
    body {
        @apply antialiased text-black dark:bg-black dark:text-white bg-gray-100 p-12 mx-auto;
    }

    @page {
        size: A4;
        margin: 0 !important;
        padding: 0 !important;
    }

    @media print {
        html, 
        body {
            @apply m-0 p-0 bg-white !important;
        }
    }

    ::selection {
        @apply bg-green-500;
    }
}

@layer components {
    .page {
        width: 210mm;
        height: 297mm;
        
        @apply overflow-hidden shadow-lg print:shadow-none rounded-lg print:rounded-none;
    }
}